.button {
  width: 145px;
  height: 48px;
  border-radius: 25px;
  border: none;
  background-color: var(--button-color);
  margin-top: 24px;
  color: var(--button-text-color);
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}

.button:hover {
  background-color: var(--button-hover-color);
  color: var(--button-text-hover-color);
}

.button--shop-page {
  padding: 8px 16px;
  font-size: 15px;
  background-color: var(--button-hover-color);
  color: var(--button-text-hover-color);
  border: none;
  border-radius: 25px;
  height: 37px;
  width: 123px;
  text-align: center;
  cursor: pointer;
}

.button--shop-page:hover {
  background-color: var(--button-color);
  color: var(--button-text-color);
}
