* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pets-product-discount {
  background-color: #faf4f2; 
  padding: 40px 0;
  margin-top: 40px; 
}

.pets-product-discount__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px; 
}

.pets-product-discount__item {
  position: relative;
  width: 48%; 
  max-width: 600px;
}

.pets-product-discount__item img {
  width: 100%;
  border-radius: 10px;
}

.pets-product-discount__overlay {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  color: #3C3731;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}
.pets-product-discount__first-title{
  font-family: "Baloo 2";
  font-size: 50px;
  font-weight: bold;
}
.discover__link{
  position: absolute;
  top: 145px;
  left: 165px;
  text-decoration: none;
  font-weight: bold;

}
.pets-product-discount__overlay .discover__link-text{
  font-size: 20px;
  text-decoration: none;
  color: #232323;
  font-weight: bold;
}
.discover__link:hover{
  color: #ed6435;
  text-decoration: underline;
}

.pets-product-discount__overlay .discover__link-arrow{
  font-size: 20px;
  color: #45C1C7;
  font-weight: 700;
  line-height: 15px;
  cursor: pointer;
  
}
.discover__link-arrow:hover{
  text-decoration: underline;
  color: #45C1C7;
}
.pets-product-discount__highlight_procent{
  color: #ed6435;
}
.pets-product-discount__overlay__second {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -50%);
  padding: 20px;
  width: 80%;
}
.pets-product-discount__title-second {
  position: absolute;
  top: -50px;
  font-size: 40px;
  color: #3C3731;
  font-family: "Baloo 2";
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 1;

}

.pets-product-discount__subtitle {
  position: absolute;
  top: -100px;
  font-size: 15px;
  color: #829199;
  margin-bottom: 10px;
}
.pets-product-discount__overlay__second .pets-product-discount__price{
  position: absolute;
  top: 70px;
}

em {
  font-size: 18px;
  margin-top: 50px;
  color: #958B7E;
}

.pets-product-discount__highlight {
  color: #ed6435;
  font-style: italic;
  font-weight: bold;

}

.pets-product-discount__overlay__second .pets-product-discount__button {
  position: absolute;
  top: 130px;
  display: inline-block;
  padding: 13px 23px;
  background-color: none;
  color: #e76b45;
  text-decoration: none;
  border-radius: 50px;
  border: 1px solid #e76b42 ;
  font-weight: bold;
  transition: .3s;
}

.pets-product-discount__button:hover {
  color: #ffff;
  background-color: #e76b42;
}

@media (max-width: 768px) {
  .pets-product-discount__container {
    flex-direction: column;
    align-items: center;
  }

  .pets-product-discount__item {
    width: 100%;
    margin-bottom: 20px;
  }
}
