@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: rgb(149, 139, 126);
  --text-tytle-color: rgb(60, 55, 49);
  --button-color: rgb(178, 231, 233);
  --button-hover-color: #ffe6d4;
  --accent-text-color: rgb(237, 100, 53);
  --button-text-color: rgb(69, 193, 199);
  --buttom-text-hover-color: #ed6435;
  --arrows-fone-color: #59534e;
  --border-color: rgb(70, 76, 92);
  --status-text: rgb(97, 168, 84);
  --divider-color: rgb(237, 240, 245);
  --quantity-button-color: rgb(197, 203, 214);
  --banner-text-color:  #323232;
  font-family: "PT Sans", sans-serif;
  --font-family-tytle: "Baloo 2", sans-serif;

  scroll-behavior: smooth;
  color: var(--text-color);
}

img {
  display: block;
  width: 100%;
}
