@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  margin: auto;
  --accent-color: #faf4f2;
  --text-color: rgb(149, 139, 126);
  --text-tytle-color: #3c3731;
  --button-color: rgb(178, 231, 233);
  --button-hover-color: #ffe6d4;
  --accent-text-color: rgb(237, 100, 53);
  --button-text-color: rgb(69, 193, 199);
  --buttom-text-hover-color: #ed6435;
  --button-hover-color: #ffe6d4;
  --arrows-fone-color: #59534e;
  --border-color: rgb(70, 76, 92);
  --status-text: rgb(97, 168, 84);
  --divider-color: rgb(237, 240, 245);
  --arrow-svg-collor : white;
  --quantity-button-color: rgb(197, 203, 214);
  --category-button-color: #8a8783;
  --active-category-button-color: #3c3731;
  --category-button-border-color:#e7e6e5;
  --link-color: #9b9295;
  --banner-text-color:  #323232;
  --background-color: #faf4f2;
  --brand-color: #ed6435;
  --subtitle-card-color: #829199;
  --subtitle-card-second-color: #958B7E;
  --brand-button-color: #e76b45;
  --font-family: "PT Sans", sans-serif;
  --arrow-link-color: #45C1C7;
  --link-title-color: #232323;
  --font-family-tytle: "Baloo 2", sans-serif;

  scroll-behavior: smooth;
  color: var(--text-color);
}

img {
  display: block;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: auto;
}