.hero__button {
    background-color: #ff7f50; /* Основний колір */
    color: white; /* Колір тексту */
    padding: 15px 30px; /* Відступи */
    border: none; /* Відсутність рамки */
    border-radius: 5px; /* Округлені краї */
    font-size: 16px; /* Розмір тексту */
    font-weight: bold; /* Жирність тексту */
    cursor: pointer; /* Зміна курсору при наведенні */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Плавний перехід для кольору та масштабу */
}

.hero__button--about {
    background-color: #ffa07a; /* Колір для кнопки "About Us" */
}

.hero__button--categories {
    background-color: #48d1cc; /* Колір для кнопки "Categories" */
}

.hero__button:hover {
    background-color: #ff6347; /* Зміна кольору при наведенні */
    transform: scale(1.05); /* Легка зміна розміру при наведенні */
}

.hero__button:active {
    transform: scale(0.95); /* Зміна розміру при натисканні */
}

.header__working-hours {
    background-color: #f2e8e4;
    color:rgb(237, 100, 53)
}


.header__logo img {
    width: 182px; 
    height: auto; 
}

.hero {
    text-align: center; 
}

.hero__actions {
    margin-top: 20px; 
}

.hero__title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}

.hero__description {
    font-size: 18px;
    margin-bottom: 20px;
    color: #333;
}
