.banners-container {
  margin-top: 100px; 
  display: grid; 
  gap: 20px;
  justify-content: center;
  align-items: stretch; /* Встановлюємо для однакової висоти */
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
  padding: 0 40px;
}

.banner {
  background-size: cover; /* Заповнює фон, зберігаючи пропорції */
  background-position: center; /* Центрує зображення */
  width: 100%; /* Використовуємо ширину контейнера */
  height: 400px; /* Фіксована висота для всіх банерів */
  padding: 20px;
  margin-top: 30px;
  display: flex; /* Дозволяє використовувати flexbox для вмісту */
  flex-direction: column; /* Розташування елементів у стовпчик */
  justify-content: center; /* Центрування вертикально */
  align-items: center; /* Центрування горизонтально */
}

.banner__best-quality {
  background-image: url(../img/section-best-quality/best-quality.png);
}

.banner__cat-dog-stuff {
  background-image: url(../img/section-best-quality/cat-dog-stuff.png);
}




.banner__content {
  position: relative;
  width: 100%;
}

.banner__title__best-quality {
  margin-top: 15px;
  margin-left: 15px;
  font-size: 50px;
  margin-bottom: 10px;
  font-family: "Baloo 2";
  font-weight: bold;
  color: var(--active-category-button-color);
}
.banner__title__cat-dog-stuff {
  margin-top: 70px;
  margin-left: 25px;
  font-size: 32px;
  margin-bottom: 10px;
  font-family: "Baloo 2";
  font-weight: bold;
  color: var(--active-category-button-color);
}
.banner__title__procent-style {
  color: var(--buttom-text-hover-color);
  font-family: "Baloo 2";
}

.banner__brands__best-quality {
  color: var(--buttom-text-hover-color);
  margin-top: 30px;
  margin-left: 15px;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 700;
}

.banner__text-overlay-quality,
.banner__text-overlay-stuff {
  padding: 20px;
  border-radius: 10px;
}

.banner__button__best-quality,
.banner__button__cat-dog-stuff {
  background-color: var(--button-hover-color);
  display: inline-block;
  color: var(--buttom-text-hover-color);
  padding: 15px 35px;
  margin-top: 30px;
  margin-left: 15px;
  margin-bottom: 50px;
  text-decoration: none;
  text-align: center;
  border-radius: 50px;
  font-size: 16.5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}



.banner__button__best-quality:hover,
.banner__button__cat-dog-stuff:hover {
  background-color: var(--button-color);
  color: var(--button--text-color);
  transform: scale(1.05);
}

@media (max-width: 600px) {
  .banners-container {
    grid-template-columns: 1fr;
  }
}

