.pets-product-discount {
  position: relative;
  min-width: 320px;
  background-color:var(--background-color);
  padding-bottom: 60px;
  font-size: 17px;
  line-height: 1.4;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  word-wrap: break-word;
  z-index: 1
}

.pets-product-discount__container {
  padding: 5% 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.pets-product-discount__container .pets-product-discount__item {
  position: relative;
  width: 48%; 
  max-width: 600px;
}

.pets-product-discount__container .pets-product-discount__item img {
  width: 100%;
  border-radius: 10px;
}

.pets-product-discount__overlay {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  color: var(--text-tytle-color);
  margin: 0;
  padding: 0;
  line-height: 1.2;
}
.pets-product-discount__first-title{
  font-family: var( --font-family-tytle);
  font-size: 50px;
  font-weight: bold;
}
.discover__link{
  position: absolute;
  top: 145px;
  left: 150px;
  text-decoration: none;
  font-weight: bold;

}
.pets-product-discount__overlay .discover__link-text{
  font-size: 20px;
  text-decoration: none;
  color: var(--link-title-color);
  font-weight: bold;
}
.discover__link:hover{
  color: var(--brand-color);
  text-decoration: underline;
}

.pets-product-discount__overlay .discover__link-arrow{
  font-size: 20px;
  color: var(--arrow-link-color);
  font-weight: 700;
  line-height: 15px;
  cursor: pointer;
  
}
.discover__link-arrow:hover{
  text-decoration: underline;
  color: var(--arrow-link-color);
}
.pets-product-discount__highlight_procent{
  color: var(--brand-color);
}
.pets-product-discount__overlay__second {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -50%);
  padding: 20px;
  width: 80%;
}
.pets-product-discount__title-second {
  position: absolute;
  top: -50px;
  font-size: 40px;
  color: var(--text-tytle-color);
  font-family: var(--font-family-tytle);
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.pets-product-discount__subtitle {
  position: absolute;
  top: -100px;
  font-size: 15px;
  font-family: var(--font-family);
  color: var(--subtitle-card-color);
  margin-bottom: 10px;
  font-weight: 600;
  text-transform: uppercase;
}
.pets-product-discount__overlay__second .pets-product-discount__price{
  position: absolute;
  top: 70px;
  font-family: var(--font-family);
}

em {
  font-size: 18px;
  margin-top: 50px;
  color: var(--subtitle-card-second-color);
}

.pets-product-discount__highlight {
  color: var(--brand-color);
  font-style: italic;
  font-weight: bold;

}
.pets-product-discount__button {
  position: absolute;
  top: 130px;
  display: inline-block;
  padding: 10px 25px;
  background-color: none;
  color: var(--brand-button-color);
  text-decoration: none;
  border-radius: 50px;
  border: 1px solid var(--brand-button-color) ;
  font-weight: bold;
  transition: .3s;
}

.pets-product-discount__button:hover {
  color: var(--accent-color);
  background-color: var(--brand-button-color);
}
.pets-product-discount-car{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.brand-carousel {
  position: absolute;
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: max-content;
}
.brand-carousel-inner-wrapper{
  width: 70%; 
  overflow: hidden; 
}

.carousel-img {
  width: 170px;
  gap: 40px;
  background-color: white;
  margin: 0 10px;
}

.carousel-control-prev, .carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 100;
  padding: 10px;
}

.carousel-control-prev {
  left: 10%;
  display: flex;
}

.carousel-control-next {
  right: 10%;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}




@media (max-width: 768px) {
  .pets-product-discount__container {
    flex-direction: column;
    align-items: center;
  }

  .pets-product-discount__item {
    width: 100%;
    margin-bottom: 20px;
  }
  .brands-carousel__item {
    min-width: 120px;
}
}

