.new-arrivals__title {
    max-width: 300px;
    margin: auto;
    font-size: 30px;
    font-family: var(--font-family-tytle);
    color: var(--text-tytle-color);
    font-weight: 700;
    text-align: center;
}

.new-arrivals__desription {
    max-width: 510px;
    margin: auto;
    font-family: "PT Sans", sans-serif;
    color: var(--text-color);
    font-size: 19px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 16px;
}

.new-arrivals__icon {
    margin-top: 25px;
    padding-top: 8px;
}

/* .new-arrivals__content{
    padding-left: 15px;
    padding-right: 15px;
} */

.new-arrivals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 90px;
    padding-bottom: 90px;
}

.slide {
    margin-top: 45px;
}

/* .new-arrivals__product-img{
    width: 242px;
    height: 242px;
    display: flex;
    align-items: center;
    justify-content: center;
    
} */

.new-arrivals__product-title {
    display: block;
    margin-top: 8px;
    color: var(--text-color);
    font-size: 17px;
    cursor: pointer;
    text-decoration: none;
}

.new-arrivals__product-price {
    margin-top: 16px;
    color: var(--buttom-text-hover-color);
    font-size: 20px;
    font-weight: 700;
    align-items: center;
}

/* .new-arrivals__product {
    display: flex;
    flex-direction: column;

} */

.new-arrivals__product-title:hover {
    text-decoration: underline;
}

/* .new-arrivals__carousel-arrivals-inner{
    display: grid;
    column-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
} */

.new-arrivals .new-arrivals__carousel-arrivals {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.new-arrivals .new-arrivals__carousel-arrivals-inner {
    display: flex;
    flex-direction: row;
    transition: transform 0.5s ease-in-out;
}

.new-arrivals .new-arrivals__carousel-arrivals .new-arrivals__product{
    flex: 0 0 100%;
    padding: 20px;
    box-sizing: border-box;
}

.carousel-control-next1,
.carousel-control-prev1 {
    top: 30%;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    background-color: var(--arrows-fone-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
    position: absolute;
}

.carousel-control-prev-icon1,
.carousel-control-next-icon1 {
    width: 50%;
    height: 50%;
}

@media (min-width: 768px) {

    .new-arrivals .new-arrivals__carousel-arrivals .new-arrivals__product {
        flex: 0 0 50%;
    }

}

@media (min-width: 1000px) {
    .new-arrivals .new-arrivals__carousel-arrivals .new-arrivals__product {
        flex: 0 0 25%;
    }
}