.promotion
{
    padding-bottom: 150px;
    padding-top: 90px;
    min-width: 320px;
    overflow-wrap: break-word;
    font-weight: 400;
    line-height: 27.2px;
    background-image: url("../img/section-promotion/cta.png");
    background-repeat: no-repeat;
    position: relative;
    font-size: 17px;
}
.promotion__content
{
    padding-left: 24px;
    padding-right: 24px;
}
.promotion__info
{
    display: flex;
    font-weight: 400;
    justify-content: center;
    line-height: 27.2px;
    max-width: 100%;
    overflow-wrap: break-word;
    flex-direction: column;
    flex-basis: 100%;
    box-sizing: border-box;
    vertical-align: baseline;
    text-align: left;
    width: 327px;
}
.promotion__title-text
{
    color: #46c1c7;
    text-align: center;
    font-size: 15px;
    font-family: "PT Sans", sans-serif;
    border-image-width: 1;
}
.promotion__subtitle-text
{
    font-weight: 700;
    font-family: "Baloo 2", cursive;
    font-size: 48px;
    line-height: 48px;
    color: rgb(60, 55, 49);
}
.promotion__body-text
{
    font-family: "PT Sans", sans-serif;
    font-size: 19px;
    color: rgb(149, 139, 126);
}
.promotion__button
{
    margin-top: 35px;
}
.promotion__btn
{
    background-color: rgb(178, 231, 233);
    color: rgb(69, 193, 199);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-width: 1px;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 16.5px;
    font-weight: 700;
    height: 48.5px;
    letter-spacing: 0.825px;
    line-height: 16.5px;
    position: absolute;
    text-align: center;
    transition-duration: 0.2s, 0.2s, 0.2s, 0.2s;
    width: 133.734px;
    word-break: break-word;
    border-top-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    font-family: "PT Sans", sans-serif;
    display: block;
    text-decoration: none;
    padding-top: 14px;
}
.promotion__btn:hover
{
    background-color: #ffe6d4;
    color: #ed6435;
    text-decoration: none;
}
.promotion__btn:active
{
    background-color: #ffe6d4;
    color: #ed6435;
    text-decoration: none;
}
.promotion_btn:visited
{
    background-color: rgb(178, 231, 233);
    color: rgb(69, 193, 199);
    text-decoration: none;
}
.timer__square
{
    text-align: left;
    border-top-color: rgb(69, 193, 199);
    border-left-color: rgb(69, 193, 199);
    border-right-color: rgb(69, 193, 199);
    border-bottom-color: rgb(69, 193, 199);
    font-weight: 400;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    display: block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 69.16px;
    width: 69.16px;
    text-anchor: middle;
}
.promotion__timer
{
    display: inline-flex;
    margin-top: 45px;
}
.timer__separator
{
    width: 16.8px;
}
.timer__numb
{
    font-size: 36px;
    font-family: "Baloo 2", cursive;
    color: rgb(60, 55, 49);
    font-weight: 700;
}
.timer__text
{
    font-size: 23px;
    font-weight: 400;
    font-family: "PT Sans", sans-serif;
    color: rgb(149, 139, 126);
}