.trending-products {
  margin: 90px auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
}

.trending-products::after {
  content: "";
  display: block;
  /*opacity: 0.5;*/
  background-image: url("../img/section-trending-products/turtle-gif.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100% + 180px);
  overflow: visible;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: -90px;
  z-index: -1;
}

.trending-products__title {
  font-size: 30px;
  font-weight: bold;
  font-family: var(--font-family-title);
  text-align: center;
  color: var(--text-title-color);
}

.trending-products__svg-container {
  text-align: center;
  font-weight: 400;
  font-size: 17px;
  margin-top: 25px;
}

.trending-products__description {
  text-align: center;
  font-size: 19px;
  font-weight: bold;
  color: var(--text-title-color);
  font-weight: 400;
  margin-top: 20px;
  line-height: 28.5px;
}

.slide {
  margin-top: 45px;
}

.carousel-control-prev,
.carousel-control-next {
  display: flex !important;
  border-radius: 50% !important;
  align-items: center !important;
  justify-content: center !important;
  border: 2px solid var(--buttom-text-hover-color) !important;
  background-color: var(--buttom-text-hover-color) !important;
  width: 50px !important;
  height: 50px !important;
  color: var(--category-button-border-color) !important;
  transition: background-color 0.3s !important;
  cursor: pointer !important;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: var(--button-text-color) !important;
  border: 2px solid var(--button-text-color) !important;
  transition: background-color 1s !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  fill: currentColor !important;
  transition: fill 1s !important;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  fill: var(--buttom-text-hover-color) !important;
  transition: fill 1s !important;
}

.product-card__link {
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none;
  font-size: 18px;
}

.product-card__link:hover {
  text-decoration: underline;
}

.product-card__name {
  margin-top: 8px;
}

.product-card__price {
  margin-top: 16px;
  margin-bottom: 0;
  color: var(--accent-text-color);
  font-size: 20px;
  font-weight: bold;
}

.product-card__image {
  padding: 20px 0;
}

@media (min-width: 765px) {
  .product-card__image {
    max-width: 688px;
    width: 100%;
    height: auto;
  }
}
