.trending-products {
  margin: 90px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trending-products__title {
  font-size: 30px;
  font-weight: bold;
  font-family: var(--font-family-title);
  text-align: center;
  color: var(--text-title-color);
}

.trending-products__svg-container {
  text-align: center;
  font-weight: 400;
  font-size: 17px;
  margin-top: 25px;
}

.trending-products__description {
  text-align: center;
  font-size: 19px;
  color: var(--text-color);
  font-weight: 400;
  margin-top: 20px;
  line-height: 28.5px;
}

.slide {
  margin-top: 45px;
}

.carousel-control-next,
.carousel-control-prev {
  top: 30%;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;
  background-color: var(--arrows-fone-color);
  display: flex;
  cursor: pointer;
  padding: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 50%;
  height: 50%;
}

.product-card__link {
  color: var(--text-color);
  text-decoration: none;
  font-size: 18px;
}

.product-card__link:hover {
  text-decoration: underline;
}

.product-card__name {
  margin-top: 8px;
}

.product-card__price {
  margin-top: 16px;
  margin-bottom: 0;
  color: var(--accent-text-color);
  font-size: 20px;
  font-weight: bold;
}

.product-card__image {
  padding: 20px 0;
}

@media (min-width: 765px) {
  .product-card__image {
    max-width: 688px;
    width: 100%;
    height: auto;
  }
}
