.pets-product-discount {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: var(--background-color);
  width: 100%;
}

/* Стилі для обох блоків */
.pets-product-discount__content,
.pets-product-discount__second-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%; /* Початково ширина блоку займатиме всю ширину контейнера */
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1rem;
  overflow: hidden;
}

.pets-product-discount__content {
  background-image: url(../img/selection-discount-product/fish-on-aquarium.png);
}

.pets-product-discount__second-content {
  background-image: url(../img/selection-discount-product/pets-product.png);
}

.pets-product-discount__second-title{
  position: absolute;
  left: 40px;
  top: 95px;
  font-family: var(--font-family-tytle);
  color: var(--text-tytle-color);
  font-size: 2.5rem;
  font-weight: bold;
}
/* Стилі для тексту */
.pets-product-discount__title {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%); /* Центруємо текст */
  text-align: center;
  font-family: var(--font-family-tytle);
  color: var(--text-tytle-color);
  font-weight: bold;
  margin: 0;
  font-size: 2.5rem; /* Адаптивний розмір тексту */
}


.pets-product-discount__overtitle {
  position: absolute;
  top: 50px;
  left: 130px;
  transform: translateX(-50%);
  font-family: var(--font-family);
  color: var(--text-overflow-color);
  font-weight: bold;
}

.pets-product-discount__price {
  position: absolute;
  top: 220px;
  left: 50px;
  font-family: var(--font-family);
  color: var(--text-overflow-second-color);
  font-style: italic;
  font-size: 1.2rem;
}

.pets-product-discount__accent-price, .pets-product-discount__accent {
  color: var(--accent-text-color);
  font-weight: bold;
}

.pets-product-discount__link {
  position: absolute;
  bottom: 5%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--link-title-color);
}
.pets-product-discount__second_link{
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #FF5722; /* Колір тексту */
  background-color: transparent; /* Прозорий фон */
  border: 2px solid #FF5722; /* Рамка оранжевого кольору */
  border-radius: 50px; /* Закруглені краї */
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;

}
.pets-product-discount__link-second-text{
  position: absolute;
  bottom: 50px;
  left: 50px;
  color: var(--accent-text-color);
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: #FF5722; /* Колір тексту */
  background-color: transparent; /* Прозорий фон */
  border: 1px solid #FF5722; 
  border-radius: 50px; 
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease; 
}
.pets-product-discount__link-second-text:hover{
  background-color: var(--brand-button-color); 
  color: var(--accent-color);
}
.pets-product-discount__link-arrow {
  color: var(--button-text-color);
}

.pets-product-discount__link:hover {
  text-decoration: underline;
  color: var(--accent-text-color);
}



.pets-product-discount__carousel {
  position: relative;
  overflow: hidden;
  width: 60%; /* Зменшуємо ширину каруселі до 80% */
  margin: 20px auto; /* Вирівнюємо по центру з верхнім відступом */
}

.pets-product-discount__carousel-container {
  display: flex;
  transition: transform 0.5s ease;
}

.pets-product-discount__carousel-items {
  display: flex;
}

.pets-product__carousel-image {
  min-width: calc(100% / 6 - 20px); /* Вираховуємо ширину зображення з урахуванням відступу */
  transition: transform 0.5s ease;
  margin-right: 20px; /* Додаємо відступ між зображеннями */
  background-color: var(--carousel-background-color);
}

.pets-product-carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: var(--button-carousel-background-color); /* Прозорий фон */
  color: var(--arrow-svg-collor); /* Колір іконки або тексту */
  border: 1px solid var(--button-carousel-border-color); /* Прозорий обведений контур */
  border-radius: 50%; /* Залишаємо круглу форму */
  cursor: pointer;
  padding: 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease; /* Анімація при наведенні */
}

.pets-product-carousel__button:hover {
  background: var(--button-carousel-hover); /* Робимо фон менш прозорим при наведенні */
}


.prev {
  left: 1px;
}

.next {
  right: 20px;
}



@media (max-width: 800px) {
  .pets-product-discount__carousel {
    width: 80%; /* Збільшуємо ширину каруселі на малих екранах */
  }

  .pets-product__carousel-image {
    min-width: calc(100% / 4 - 20px); /* Змінюємо кількість зображень до 4 */
  }

  .pets-product-carousel__button {
    width: 25px;
    height: 25px;
  }
}

@media (max-width:600px){
  .pets-product-discount__carousel {
    width: 90%; /* Збільшуємо ширину каруселі на малих екранах */
  }

  .pets-product__carousel-image {
    min-width: calc(100% / 3 - 20px); /* Змінюємо кількість зображень до 4 */
  }

  .pets-product-carousel__button {
    width: 25px;
    height: 25px;
  }
}

/* Адаптивність для мобільних екранів */
@media (max-width: 480px) {
  .pets-product-discount__carousel {
    width: 80%; /* Робимо карусель на всю ширину */
  }

  .pets-product__carousel-image {
    min-width: calc(100% / 2); /* Показуємо 2 зображення одночасно */
  }

  .pets-product-carousel__button {
    width: 20px;
    height: 20px;
  }
  .next{
    align-items: end;
  }
}

/* Адаптивність для ультрамалих екранів */
@media (max-width: 300px) {
  .pets-product__carousel-image {
    min-width: 100%; /* Показуємо по одному зображенню */
  }

  .pets-product-carousel__button {
    width: 18px;
    height: 18px;
  }
}

/* Адаптивність для великих екранів */
@media  (min-width: 800px) and (max-width: 1024px)  {
  .pets-product-discount__carousel {
    width: 80%; /* Зменшуємо ширину на великих екранах */
  }

  .pets-product__carousel-image {
    min-width: calc(100% / 5 - 20px); /* Показуємо 6 зображень */
  }
}



@media (max-width: 300px){
  .pets-product-discount__content,
  .pets-product-discount__second-content{
    width: 100%;
    height: 250px;
  }
  .pets-product-discount__title,
  .pets-product-discount__second-content{
    font-size: 1.2rem;
  }
}
/* Адаптивність для малих екранів */
@media (max-width: 600px) {
  .pets-product-discount__content,
  .pets-product-discount__second-content {
    width: 100%;
    height: 350px; /* Зменшуємо висоту для мобільних екранів */
  }
  .pets-product-discount__link{
    font-size: 1rem;
    top: 50%;
  }

  .pets-product-discount__link-second-text{
    bottom: 30px;
  }
  .pets-product-discount__title,
  .pets-product-discount__second-title {
    font-size: 1.8rem; /* Зменшений розмір тексту */
  }
}

/* Адаптивність для середніх екранів */
@media (min-width: 600px) and (max-width: 1024px) {
  .pets-product-discount__content,
  .pets-product-discount__second-content {
    width: 70%;
    height: 500px; /* Трохи збільшуємо висоту */
  }

  .pets-product-discount__link{
    top: 46%;
  }
  .pets-product-discount__title,
  .pets-product-discount__second-title {
    font-size: 2rem;
  }
}
/* Адаптивність для великих екранів */
@media (min-width: 1024px) {
  .pets-product-discount {
    flex-direction: row;
    justify-content: space-between;
  }

  .pets-product-discount__content,
  .pets-product-discount__second-content {
    width: 100%; /* Встановлюємо блоки поруч і робимо їх однакової ширини */
    height: 400px; /* Висота залишається стабільною */
  }
}
