.best-producers {
    display: flex;
    flex-direction: column;
    padding: 60px 25px;
    flex: 1;
    max-width: 1200px;
    margin: 0 auto;
}


.best-producers__video-imitator {
    background-image: url(../img/section-top-recommendations/playing-cat.png);
    min-height: 162px;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 0 15px;
}

.best-producers__content {
    padding: 0 15px;
    font-family: var(--font-family);
    background-image: url(../img/section-top-recommendations/best-producers-of-food.png);
    background-size: cover;
    background-position:bottom;
    margin-top: 50px;
}

.best-producers__play-icon-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.best-producers__play-icon {
    width: 50%;
    height: auto;
}

.best-producers__label {
    color: var(--text-tytle-color);
    font-weight: bold;
    color: var(--accent-text-color);
    margin-bottom: 16px;
}

.best-producers__title {
    font-family: var(--font-family-tytle);
    color: var(--text-tytle-color);
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 28px;
}

.best-producers__content-inner {
    padding: 31px 12px;
}

.best-producers__link {
    color: var(--link-color);
    margin-top: 25px;
    display: block;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
}

.best-producers__link-text {
    font-weight: bold;
}

.best-producers__link:hover {
    text-decoration: underline;
    text-decoration-color: var(--accent-text-color);
}
.best-producers__link-text:hover {
    text-decoration: underline;
    text-decoration-color: var(--active-category-button-color);
}

.best-producers__link-arrow:hover {
    text-decoration: underline;
    text-decoration-color: var(--button-text-color);
}


.best-producers__link-arrow {
    color: var(--button-text-color);
}


.best-producers__brands-list {
    margin-top: 20px;
}

.best-producers__brand-item {
    span {
        color: var(--text-tytle-color);
    }
    color: var(--brand-color);
    font-family: var(--font-family);
    font-weight: bold;
}

@media (min-width: 768px) {
    .best-producers {
        flex-direction: row;
        justify-content: space-between;
    }

    .best-producers__video-imitator {
        flex-basis: 66%;  
        min-height: 510px;
    }

    .best-producers__content {
        flex-basis: 32%; 
        background-position:right;
        margin-top: 0;
    }
}