.news {
    padding: 90px 20px;
    max-width: 1200px;
    margin: 0 auto; 
}
.news__title-main {
    max-width: 300px;
    margin: auto;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: var(--font-family-tytle);
    color: var(--text-tytle-color);
}
.news__icon {
    width: 5%;
    height: 5%;
    display: block;
    margin: 20px auto;
}
.news__subtitle{
    max-width: 510px;
    margin: 20px auto;
    font-size: 20px;
    text-align: center;
    font-family: "PT Sans", sans-serif;;
    color: var(--text-color);
}
.news__articles-wrapper{
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.news__article{
    width: 30%;
    padding: 20px;
    overflow: hidden;
    position: relative;
    text-align: justify;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--button-hover-color);
}
.news__article:hover{
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}
.news__image{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #eee;
}
.news__title {
    margin: 10px 0px;
    max-width: 300px;
    font-size: 20px;
    font-weight: bold;
    text-align: justify;
    font-family: var(--font-family-tytle);
    color: var(--text-tytle-color);
}
.news__text{
    margin: 10px 0px;
    line-height: 1.6;
    font-size: 15px;
    text-align: left;
    font-family: "PT Sans", sans-serif;;
    color: var(--text-color);
}
.news__button{
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    display: block;
    text-decoration: none;
    text-align: left;
    font-family: var(--font-family-tytle);
    color: var(--text-tytle-color);
}
.news__button:hover{
    color: var(--buttom-text-hover-color);
    text-decoration: underline;
}

@media (min-width: 765px) {
    .news__articles{
      display:flex;
      column-gap: 20px;
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (min-width: 991px) {
    .news__articles{
      display: flex;
      column-gap: 20px;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }}