.main-content {
  padding: 95px 32px;
}

.main-content__link {
  color: var(--text-tytle-color);
  font-size: 17px;
  text-decoration: none;
  font-weight: normal;
}

.main-content__link:hover {
  color: var(--accent-text-color);
}
@media (min-width: 768px) {
  .product-page-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 15px;
    margin-top: 45px;
  }
}

.product-container {
  flex-direction: column;
}

.product-info {
  flex-direction: column;
}

.product-navigation {
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-navigation__image {
  min-width: 204;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .button-prev {
    display: none;
  }
  .button-next {
    display: none;
  }
}

.product-preview {
  display: flex;
  flex-direction: row;
  padding: 6px;
  padding-left: 0px;
  max-width: 118.39px;
  width: 100%;
}

.product-preview__card {
  border-color: var(--border-color);
  border-width: 1px;
  border-style: solid;
  width: clamp(
    35.33px,
    calc(35.33px + (108 - 35.33) * ((100vw - 320px) / (760 - 320))),
    108px
  );
}

@media (max-width: 768px) {
  .product-details {
    margin-top: 50px;
  }
}

.product-details__status {
  color: var(--status-text);
  font-size: 17px;
  height: 27.1875px;
  line-height: 27.2px;
}

.product-details__name {
  font-family: var(--font-family-tytle);
  font-size: 22px;
  color: var(--text-tytle-color);
  font-weight: bold;
  line-height: 28.6px;
}

.product-details__code {
  margin-top: 8px;
  line-height: 19.6px;
  font-size: 14px;
}

.product-details__price {
  margin-top: 16px;
  font-size: 20px;
  line-height: 25.9992px;
  font-weight: bold;
  margin-bottom: 48px;
}

.price-section__divider {
  width: 100%;
  border-top: 1px solid var(--divider-color);
  margin-bottom: 24px;
}

.quantity-selection {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/*коробочка для цифры*/
.quantity-selection__input-group {
  border: 1px solid var(--quantity-button-color);
  border-radius: 4px;
  margin-right: 16px;
  height: 37px;
  width: 75px;
}

/*цифра*/
.quantity-selection__input {
  width: 49px;
  height: 30px;
  border: none;
  text-align: left;
  padding: 8px 12px;
  font-size: 17px;
}
 /*дальше код не работает*/
.quantity-selection__arrows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5px;
  gap: 7px;
}

.quantity-selection__arrow {
  cursor: pointer;
  fill: var(--quantity-button-color);
}
.quantity-selection__arrow--down {
  transform: rotate(180deg);
}

.product-description {
  margin-top: 24px;
  border: none;
}

.product-description__toggle {
  width: 91px;
  font-size: 12px;
  font-weight: bold;
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
}

.product-description__toggle::after {
  content: "";
  display: block;
  width: 91px;
  height: 2px;
  background-color: var(--accent-text-color);
  position: absolute;
  bottom: -10px;
  left: 0;
}

.description-section__content {
  font-size: 17px;
  line-height: 1.6;
  margin-top: 27.2px;
}
